:root {
  --win-98-body-font-family: sans-serif;

  --win-98-box-border-color-bottomright: #0a0a0a;
  --win-98-box-border-color-topleft: #dfdfdf;
  --win-98-box-radius: 0;
  --win-98-box-background: rgb(180, 195, 220);
  --win-98-box-padding: 2px;
  --win-98-box-border-width: 2px;


  --win-98-box-title-background-start: rgb(0, 128, 128);
  --win-98-box-title-background-end: rgb(16, 132, 208);
  --win-98-box-title-color: #fff;

  --win-98-btn-default-color: #000;

  --win-98-box-title-color: #fff;

  --win-98-navmenu-highlight-color: #FFF;
  --win-98-navmenu-highlight-background: #000080;

  --win-98-navmenu-sidebad-start: #0000FF;
  --win-98-navmenu-sidebad-end: #000080;

  --win-98-bs-nav-link-padding-y: 0.2rem;
}